body{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

fieldset {
    padding: 1em;
    margin: 1em 0;
    border: 1px solid #ccc;
    background: #f8f8f8;
}

legend{
    font-weight: bold;
}

label{
    display: block; /*Faz o label ficar acima do imput ao invés de ficar do lado*/
    cursor: pointer;
    margin: 0.5em 0;
}

input/*[type="text"]*/{
    width: 40%;
}

textarea{
    width: 40%;
    height: 100%;
}

input.radio, input.checkbox, input.submit{
    width: auto;
}

input.radio{
    margin-right: 1em;
}